
.card-list {
    padding-bottom: 2rem;

    a.card {
        // Have card anchors/links to card as normal cards would, but with a link pointer cursor.
        cursor: pointer;
        display: block;
        &:active { color: $text; }
        &:hover { color: $text; }
        &:visited { color: $text; }
        &:focus { color: $text; }
    }

    .media-right {
        .card-action-item {
            margin-left: 0.5rem;
        }
    }
}

.modal .card-list {
    padding-bottom: 0;
}
