// TODO: Is this still desired with Buefy?

body::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Fields in levels.
.level-item.is-grouped:not(:last-child) {
    margin-bottom: 0;
}

a.card {
    display: block;
    &:active { color: $text; }
    &:hover { color: $text; }
    &:visited { color: $text; }
    &:focus { color: $text; }
}
