.upload {
    .upload-draggable {
        padding: $button-padding-vertical $button-padding-horizontal;
        border: 1px dashed $input-border-color;
        &:hover,
        &.is-hovered {
            border: 1px dashed $input-hover-border-color;
        }
    }
}
