
.is-justify-start {
    justify-content: flex-start;
}
.is-justify-center {
    justify-content: center;
}
.is-justify-end {
    justify-content: flex-end;
}
.is-justify-between {
    justify-content: space-between;
}
.is-justify-around {
    justify-content: space-around;
}
